{% extends 'layouts/base.html' %}

{% set page_title = 'Home' %}

{% block container %}

<style>
    #map_canvas {
        width: 100%;
        height: 100%;
        float: left;
    }

    body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    html {
        height: 100%;
    }
    #infoWin {
        width: 530px;
    }
    .image {
        width: 160px;
        max-width: 160px;
        height: 90px;
        max-height: 90px;
        border: 1px solid yellow;
        margin: 0 1px 1px 0;
    }

</style>





{% endblock %}
